In [101]:
import pandas as pd

In [43]:
df = pd.read_csv("jobs.csv")

In [163]:
import os.path
if os.path.exists('/Users/telsheikh/Documents/dataeng_githubpages/datajobs.csv') :
    print('hello')
else :     print('flase')

flase

In [165]:
pd.DataFrame(columns=['time', 'from_database', 'from_schema', 'from_table',
    'from_where', 'to_database', 'to_schema', 'to_table', 'csv_name',
    'csv_size', 'csv_type', 'job','email', 'slack'])

Empty DataFrame
Columns: [time, from_database, from_schema, from_table, from_where, to_database, to_schema, to_table, csv_name, csv_size, csv_type, job, email, slack]
Index: []

In [158]:
oldDf = pd.read_csv("/Users/telsheikh/Documents/dataeng_githubpages/datajobs.csv")

FileNotFoundError: File b'/Users/telsheikh/Documents/dataeng_githubpages/datajobs.csv' does not exist

In [36]:
df.columns

Index(['email', 'from csv file name', 'from csv file size',
       'from database name', 'from schema name', 'from table name',
       'from where clause', 'slack', 'task', 'timestamp', 'to database name',
       'to schema name', 'to table name'],
      dtype='object')

In [86]:
action = [{'timestamp': 12, 'from database name': "hive", "from schema name": "sbg_published",
          'from table name': "car_payroll", "from where clause": "signupdate > 2018/01/01", 
          "from csv file name": "data.csv", "from csv file size": 20, "to database name": "vertica",
          "to schema name": "sbg_published", "to table name": "car_payroll", 
          "email": "telsheikh@intuit.com", "slack": "telsheikh","task": "drop & create"}]

In [127]:
data = { 'database' : {'name': 'vertica', 'table': 'sanya' }, 'sanya': 10 }

In [128]:
name = data['database']['name']
table = data['database']['table']
sanya = data['sanya']

In [150]:
final = { 
    0: name,
    1: table,
    2: sanya
}

In [151]:
final

{0: 'vertica', 1: 'sanya', 2: 10}

In [154]:
df = pd.DataFrame({'A': [name], 'B': [table]})

In [156]:
import time
ts = time.gmtime()
print(time.strftime("%Y-%m-%d %H:%M:%S", ts))

2018-07-13 22:02:29

In [122]:
csvName = data['fromData']['csvName']
csvSize = data['fromData']['csvSize']
csvType = data['fromData']['csvType']
fromDatabase = data['fromData']['fromDataBase']
fromSchema = data['fromData']['fromSchemaName']
fromTable = data['fromData']['fromTableName']
fromWhere = data['fromData']['fromWhereClause']
radioButtons = data['radioData']
email = data['toData']['email']
slack = data['toData']['slack']
fromDatabase = data['toData']['toDataBase']
fromSchema = data['toData']['toSchemaName']
fromTable = data['toData']['toTableName']

KeyError: 'fromData'

In [119]:
fromData.csvName	
fromData.csvSize	
fromData.csvType	
fromData.fromDataBase	
fromData.fromSchemaName	
fromData.fromTableName	
fromData.fromWhereClause	
radioData	
toData.email	
toData.slack	
toData.toDataBase	
toData.toSchemaName	
toData.toTableName

'vertica'

In [108]:
d = {'name': name, 'table': table}

In [110]:
from pandas.io.json import json_normalize
df = json_normalize(d)

In [111]:
df

      name  table
0  vertica  sanya

In [38]:
action = pd.DataFrame(action)

In [39]:
df.append(action, ignore_index=True)

,email,from csv file name,from csv file size,from database name,from schema name,from table name,from where clause,slack,task,timestamp,to database name,to schema name,to table name
0,telsheikh@intuit.com,data.csv,20,hive,sbg_published,car_payroll,signupdate > 2018/01/01,telsheikh,drop & create,12,vertica,sbg_published,car_payroll
1,telsheikh@intuit.com,data.csv,20,hive,sbg_published,car_payroll,signupdate > 2018/01/01,telsheikh,drop & create,12,vertica,sbg_published,car_payroll

In [40]:
df = df.append(action, ignore_index=True)

In [112]:
df.to_csv("/Users/telsheikh/Documents/dataeng_githubpages/testingggg.csv",index=False)

In [80]:
import requests
dictToSend = { "data": {
  "firstName": "Bidhan",
  "lastName": "Chatterjee",
  "age": 40,
  "email":"bidhan@example.com" } }
# res = requests.post('http://localhost:5000/tests/endpoint', json=dictToSend)
url = "http://localhost:5000/csvs"
r = requests.request("POST", url, data=dictToSend)

In [85]:
r.json

In [82]:
r.read()

AttributeError: 'Response' object has no attribute 'read'

In [83]:
print response.content

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(response.content)? (<ipython-input-83-c0800b00ab56>, line 1)

In [77]:
r

In [ ]:
{ "data": {
  "firstName": "Bidhan",
  "lastName": "Chatterjee",
  "age": 40,
  "email":"bidhan@example.com" } }